<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Домашняя страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<header class="p-3 text-bg-dark" th:insert="fragments/header :: defaultheader"></header>
<section style="height: 90vh!important;">
    <div class="container-fluid h-custom">
        <h1 class="mt-4 text-center">Добро пожаловать, [[${#httpServletRequest.remoteUser}]], в систему "Приёмная комиссия"</h1>
        <h3 class="mt-5">Меню сайта:</h3>
        <ul>
            <!--<span sec:authentication="principal.authorities"></span>-->
            <li><a href="/user/" class="nav-link px-2 text-black">Пользователи</a></li>
            <li><a href="/grazh/" class="nav-link px-2 text-black">Гражданства</a></li>
            <li><a href="/abiturients/" class="nav-link px-2 text-black">Абитуриенты</a></li>
            <li><a href="/disciplins/" class="nav-link px-2 text-blackwhite">Дисциплины</a></li>
            <li><a href="/facultets/" class="nav-link px-2 text-black">Факультеты</a></li>
            <li><a href="/specialnost/" class="nav-link px-2 text-black">Специальности</a></li>
            <li><a href="/plans/" class="nav-link px-2 text-black">Планы набора</a></li>
            <li><a href="/okrandraioni/listokrugs" class="nav-link px-2 text-black">Районы и округа</a></li>
            <li><a href="/formsobuch/" class="nav-link px-2 text-black">Формы обучения</a></li>
            <li><a href="/abiturients/konkurs/" class="nav-link px-2 text-black">Конкурсные списки</a></li>
        </ul>
    </div>
</section>
</html>